.chatbubble__container{
    margin-top: 10px;
    padding: 0 10px;
}
.chatbubble__currentUser{
    word-wrap: break-word;
    width: fit-content;
    max-width: 200px;
    padding: 10px;
    background-color:var(--form-main-color);
    color:var(--white-color);
    margin-bottom:10px;
    margin-left:auto;
    
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
    
}
.chatbubble__otherUser{
    word-wrap: break-word;
    width: fit-content;
    max-width: 200px;
    padding: 10px;
    background-color: var(--text-color);
    color:var(--white-color);
    margin-bottom:10px;
    margin-right:auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

