@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root{
  --logo-color: #2a363b;
  --comments-text-color:#546b75;
  --form-main-color: #acdbdf;
  --form-main-color-hover:#c4ebf0;
  --text-color: #eb6678;
  --text-color-hated: #eb6678;
  --body-bg-color: #f3f6f6;
  --white-color: white;
  --white-color-button: #f3f6f6;
  --username-caption-color: #2a363b

}




*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  margin: 0;
  font-family: 'Abel', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
