

.navbar{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--form-main-color);

}
.navbar__img{
    object-fit: contain;
}
.navbar__links{
    display:flex;
    align-items: center;
}

.navbar__avatar{
    border-radius: 50%;
    width:35px;
    height: 35px;
    object-fit: cover;
    margin-top:5px;
    margin-left: 5px;
    transition: 0.3s ease
}   

.navbar__avatar:hover{
    opacity: 0.85;
    box-shadow: 0 0 15px var(--white-color);
    
}


#link{
    padding:10px 15px;
    text-decoration:none;
    color: var(--logo-color);
    font-weight: bold;
    
    
}
#link:visited{
    color: var(--logo-color)
}

#link:hover{
    color:white;
    background: var(--text-color);
    transition: 0.2s ease

}

