.socialbuttons__container{
    display:flex;
    justify-content: center;
    width:100%;
    background-color: var(--form-main-color);
}

.socialbuttons__buttons{
    position:relative;
    width:100%;
    margin:0 20px;
    display:flex;
}

.socialbuttons__buttons:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    width:100%;
    border-top:1px solid var(--text-color);
    
}

.socialbuttons__buttons:before{
    content:"";
    position:absolute;
    left:0;
    right:0;
    width:100%;
    height: 100%;
    border-bottom: 1px solid var(--text-color);
    pointer-events: none;
}

/* HATE BUTTON */

.socialbuttons__button_hate{
    color:var(--text-color);
    background-color: var(--form-main-color);
    width:100%;
    padding:15px 5px;
    border:none;
    margin:5px 0;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
    transition: 0.3s ease;
    margin-right:5px

}
.socialbuttons__button_hate:hover{
    background-color: var(--form-main-color-hover);
    
}

.socialbuttons__button_hate:hover::before {
    content:"DO IT!!";
    transition: 0.3s ease
}

.socialbuttons__button_hate:hover span{
    display:none
}

.socialbutton__button_activeHate{
    background-color: var(--text-color);
    width:100%;
    padding:15px 5px;
    border:none;
    margin:5px 0;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
    transition: 0.3s ease;
    color: var(--logo-color);
    margin-right:5px
}

.socialbutton__button_activeHate span{
    display:none
}
.socialbutton__button_activeHate::before{
    content:"Hated"
}


.socialbutton__button_activeHate:hover span{
    display:none
}

.socialbutton__button_activeHate:hover::before{
    content:"Unhate???";
    color: var(--text-color);
    
}
.socialbutton__button_activeHate:hover{
    background-color: var(--logo-color);
}

/* LIKE BUTTON */

.socialbuttons__button_like{
    color:var(--text-color);
    background-color: var(--form-main-color);
    width:100%;
    padding:15px 5px;
    border:none;
    margin:5px 0;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
    transition: 0.3s ease;

}
.socialbuttons__button_like:hover{
    background-color: var(--form-main-color-hover);
    
}

.socialbuttons__button_like:hover::before {
    content:"WTF????";
    transition: 0.3s ease
}

.socialbuttons__button_like:hover span{
    display:none
}

/* COMMENT BUTTON */

.socialbuttons__button_comment{
    color:var(--text-color);
    background-color: var(--form-main-color);
    width:100%;
    padding:15px 5px;
    border:none;
    margin:5px 0;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
    transition: 0.3s ease;
    margin-left:5px;

}
.socialbuttons__button_comment:hover{
    background-color: var(--form-main-color-hover);
    
}

.socialbuttons__button_comment:hover::before {
    content:"Write a comment";
    transition: 0.3s ease
}

.socialbuttons__button_comment:hover span{
    display:none
}