.infocard__container{
    display:flex;
    flex-direction: column;
    background-color: var(--white-color);
    border:6px solid var(--form-main-color);
    width:100%;
    border-radius:12px;
    padding:20px;
}

.infocard__wrapper{
    display:flex;
    position:relative;
    justify-content: space-around;
    
}

.infocard__avatar-name{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.infocard__avatar-name h2{
    color: var(--username-caption-color)
}

.infocard__avatar {
    
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border:6px solid var(--form-main-color)
}

.infocard__about{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    color: var(--logo-color);
    
}

.infocard__about p{
    width: 100%;
    word-wrap: break-word;
}

.infocard__buttons{
    display:flex;
    justify-content: flex-start;
    
}