.usersettings__icon{
    transform: scale(1.5);
    position: absolute;
    top:25px;
    right: 25px;
    cursor: pointer;
    color: var(--logo-color);
    padding:10px;
    transition: 0.3s ease;
}

.usersettings__icon:hover{
    color: var(--form-main-color)
}