.usersettings__icon{
    transform: scale(1.5);
    cursor: pointer;
    color: var(--logo-color);
    padding:10px;
    transition: 0.3s ease;
}

.usersettings__icon:hover{
    color: var(--form-main-color)
}

.createpost__darkmode{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createpost__darkmode span{
    color: var(--white-color-button)
}