.usergallery_img{
    width: 320px;
    height: 330px;
    object-fit: cover;
    flex-grow: 1;
    margin-left:10px;
    margin-bottom: 10px;
}

@media(max-width:800px){
    .usergallery_img{
        width:100%;
    }
}

