.btn__follow{
    background-color: var(--form-main-color);
    border-radius: 12px;
    border:none;
    min-width: 150px;
    padding:10px 40px;
    margin-top: 5px;
    color: var(--white-color);
    font-size: medium;
    font-weight: 600;
    outline:none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn__large{
    width:100%
    
}

.btn__follow:hover{
    background-color: var(--form-main-color-hover)
}

.btn__mb{
    margin-bottom: 20px
}